body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  background: rgb(52, 152, 219);
  color: rgb(53, 55, 58);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.section,
.section-two {
  padding: 70px 0;
  position: relative;
}

.landing-page .page-header .path {
  max-width: 65%;
  right: 0;
  top: 30px;
}

.path {
  position: absolute;
  opacity: .4 !important;
}

.landing-page .page-header .path2 {
  position: absolute;
  opacity: .4 !important;
  max-width: 41%;
  right: -60px;
  top: -50px;
}

.landing-page .section .path {
  left: -110px;
  max-width: 60%;
  top: -50px;
}

.landing-page .section-two .path {
  right: -110px;
  max-width: 60%;
  bottom: -50px;
}

.card {
  border-radius: 30px;
  border: none;
}

.card-img-top {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.title {
  color: rgb(1, 50, 67);
}

h6.title {
  font-size: 1.2rem;
}

.link-work,
.link-work:hover {
  text-decoration: none;
  color: rgb(53, 55, 58);
}

.work-card {
  position: relative;
  height: auto;
  max-height: 300px;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.work-card>.row>.content {
  display: none;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.work-card:hover {
  display: block;
  max-height: 1000px;
}

.work-card:hover>.row>.content {
  display: block;
}